---
layout: default
date: 2022-05-22
categories: Blog
---

<div class="d-flex flex-wrap justify-content-betwee">
  <!-- Categorías -->
  <div class="col-xs-6 col-sm">
    <div class="text-title">
      Categorías:
    </div>
    <ul class="mt-2">
      {% for category in site.sorted-cat %}
        <li>
          <a href="{{ site.baseurl }}/categoria/{{ category.tag }}" style="font-size: 20px;">
            {{ category.name }}
          </a>
        </li>
      {% endfor %}
    </ul>
  </div>
  <!-- Historias -->
  <div class="col-xs-6 col-sm">
    <div class="text-title">
      Historias:
    </div>
    <ul class="mt-2">
      {% for post in site.posts %}
        <li>
          <a href="{{ site.baseurl }}/{{ post.url }}" style="font-size: 20px;">
            <span style="font-size: 14px">{{ post.date | date: "%b %d, %Y" }}</span>
            -
            {{ post.title }}
          </a>
        </li>
      {% endfor %}
    </ul>
  </div>
</div>