---
layout: default
date: 2022-05-22
categories: Blog
---


<div class="d-flex justify-content-betwee">
  <!-- Categorías -->
  <div class="col">
    <div class="text-title">
      Categorías:
    </div>
    <ul class="mt-2">
      {% for category in site.categories %}
        <li>
          <a href="" style="font-size: 20px;">{{ category[0] }}</a>
        </li>
      {% endfor %}
    </ul>
  </div>
  <!-- Historias -->
  <div class="col">
    <div class="text-title">
      Historias:
    </div>
    <ul class="mt-2">
      {% for post in site.posts %}
        <li>
          <a href="{{ post.url }}" style="font-size: 20px;">{{ post.title }}</a>
        </li>
      {% endfor %}
    </ul>
  </div>
</div>